.tagsClass .selectedClass span:nth-child(1) {
	background-color: #9dc183 !important; 
}
.tagsClass .selectedClass span:nth-child(2) {
	background-color: #c7ea46 !important; 
}
.tagsClass .selectedClass span:nth-child(3) {
	background-color: #00A86B !important; 
}
.tagsClass .selectedClass span:nth-child(4) {
	background-color: #8F9779 !important; 
}
.tagsClass .selectedClass span:nth-child(5) {
	background-color: #4F7942 !important; 
}
.tagsClass .selectedClass span:nth-child(6) {
	background-color: #98FB98 !important; 
}
.tagsClass .selectedClass span:nth-child(7) {
	background-color: #0b6623 !important; 
}
.tagsClass .selectedClass span:nth-child(8) {
	background-color: #D0F0C0 !important; 
}
.tagsClass .selectedClass span:nth-child(9) {
	background-color: #50C878 !important; 
}
.tagsClass .selectedClass span:nth-child(10) {
	background-color: #4CBB17 !important; 
}

.tagsClass .selectedClass span a {
    margin-left: 5px !important;
}